.DashboardLayout {
    position: relative;
    display: flex;
    width: 100%;
    /* let body scroll normally */
}

.LeftSection {
    position: relative;
    width: max-content;
}

.RightSection {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 78px;
    /* topbar height so content not hidden */
}

.Main {
    
}