@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@300;400;500;600;700&display=swap');

.page {
    padding:1.75rem 0;
    font-family: "Roboto Serif", serif;
    color: #333;
}

.projectBackground {
    width: 100%;
}

.projectHeader {
    padding: 0 5rem;
    margin: 0 auto 40px;
    text-align: left;
}

.projectTitle {
    display: flex;
    font-family: "Roboto Serif", serif;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: 600;
    color: var(--accent);
    margin-bottom: 8px;
}

.projectDesc {
    font-family: "Roboto Serif", serif;
    font-size: 20px;
    color: var(--muted);
    margin-bottom: 24px;
    line-height: 1.6;
    max-width: 900px;
}

.projectBlock {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 0px;
    align-items: center;
    padding: 0 5rem;
}

.projectImage {
    flex: 0 0 40%;
    max-width: 40%;
    display: flex;
    justify-content: center;
}

.projectImage img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 12px;
    padding: 0rem;
    object-fit: contain;
    box-shadow: 0 18px 30px rgba(0, 0, 0, 0.06);
}

.projectDetails {
    flex: 0 0 60%;
    max-width: 60%;
}

.projectCard {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.06);
    padding: 32px;
}

.techHeader {
    font-family: "Roboto Serif", serif;
    color: var(--accent);
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 18px;
}

.techList {
    font-family: "Roboto Serif", serif;
    list-style-type: disc;
    padding-left: 24px;
    margin-bottom: 28px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    line-height: 1.8;
}

.techList li {
    margin-bottom: 12px;
}

.label {
    font-family: "Roboto Serif", serif;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
}

.value {
    font-family: "Roboto Serif", serif;
    color: rgba(0, 0, 0, 0.6);
}

/* small fixed width labels for neat alignment */
.techList li span.label {
    display: inline-block;
    width: 160px;
}

/* Mobile Responsive */
@media (max-width: 1024px) {
    .projectBlock {
        padding: 0 3rem;
    }
}

@media (max-width: 768px) {
    .projectBlock {
        flex-direction: column-reverse;
        padding: 20px;
        gap: 24px;
    }

    .projectHeader {
        padding: 0 20px;
    }

    .projectImage,
    .projectDetails {
        flex: 1 1 100%;
        max-width: 100%;
        margin-right: 0;
    }

    .projectTitle {
        font-size: 20px;
    }

    .projectDesc {
        font-size: 14px;
    }

    .techHeader {
        font-size: 18px;
    }

    .techList {
        font-size: 14px;
        padding-left: 20px;
    }

    .techList li span.label {
        width: 120px;
    }
}